* {
    margin: 0;
    user-select: none;
}

:root {
  --container-border-color: #00000020;
  --box-bg-color: #EEF2F6;
}

*::-webkit-scrollbar {
  width: 12px;
  background: white;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #33C3F0 0%, #247CFF 100%);
  border: 2px solid #F7FAFD; /* bikin efek ‘floating’ */
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #438FFF 0%, #1E6EF5 100%);
}

body {  
  background-color: #F7FAFD;
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('@/fonts/PixelOperator.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('@/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft Standard';
  src: url('@/fonts/MinecraftStandard.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('@/fonts/minecraft.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
